.feedbackBtnContainer {
  text-align: center;
}

.feedbackOptions {
  text-align: center;
}

.feedbackBtn {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ccc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: background-color 0.2s ease-in-out;
}

.feedbackBtn:not(:last-child) {
  margin-right: 10px;
}

.feedbackBtn:hover {
  background-color: #4242ef;
  color: #fff;
}
